/*
 * DesktopIcon.module.scss
 * author: evan kirkiles
 * created on Wed Dec 21 2022
 * 2022 the nobot space, 
 */
@import "../../styles/mixins";

$shadow-size: 3px;

@keyframes fade-up {
  from { opacity: 0; transform: translateX(-20px); }
  to { opacity: 1; transform: translateX(0px); }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  font-family: "Atari Standard";
  // font-weight: 700;
  font-size: 1em;
  color: white;
  text-align: center;
  text-shadow: $shadow-size 0px black, ($shadow-size * -1) 0px black, 0px $shadow-size black, 0px ($shadow-size * -1) black;
  width: min-content;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  width: 120px;
  height: 120px;
  transform: scale(1);
  animation: fade-up 0.3s ease-in-out;
  user-select: auto;

  &:hover {
    // transform: rotate(-5deg);
    transform: scale(1.1) rotate(-5deg);
  }

  @include respond-to("xsmall") {
    font-size: 1.1em;
  }
}

.icon {
  width: 70px;
  height: auto;
  z-index: 0;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  @include respond-to("xsmall") {
    width: 80px;
  }
}