/* ---------------------------------- FT88 ---------------------------------- */

@font-face {
  font-family: 'FT88';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/ft88/FT88-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88';
  font-style: italic;
  font-weight: 400;
  src: url('../../public/fonts/ft88/FT88-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/ft88/FT88-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88 Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/ft88/FT88-Gothique.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88 Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/ft88/FT88-Expanded.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88 School';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/ft88/FT88-School.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88 Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/ft88/FT88-Serif.ttf') format('truetype');
  font-display: swap;
}

/* -------------------------------- PIXELOID -------------------------------- */


@font-face {
  font-family: 'Pixeloid Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/pixeloid/PixeloidMono.ttf') format('truetype');
  font-display: swap;
}


@font-face {
  font-family: 'Pixeloid Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/pixeloid/PixeloidSans.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pixeloid Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/pixeloid/PixeloidSansBold.ttf') format('truetype');
  font-display: swap;
}

/* ---------------------------------- ATARI --------------------------------- */


@font-face {
  font-family: 'Atari System';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/atari/AtariST8x16SystemFont.ttf') format('truetype');
  font-display: swap;
}


@font-face {
  font-family: 'Atari Standard';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/atari/EightBit Atari-Thincs.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Atari Standard';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/atari/EightBit Atari-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Atari 60Zeich';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/atari/EightBit Atari-60zeich.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Atari Reverse';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/atari/EightBit Atari-Reverse.ttf') format('truetype');
  font-display: swap;
}